.container
  %h2 Basic Table
  %p Sample for only group and brand name, will add options to select columns etc later.
  %table.table.table-striped
    %thead
      %tr
        %th Group Name
        %th Brand Name
        %th Sum of Current year Sales.
        %th Sum of SOH.
        %th Sum of Sales in last 180 days.
        %th Sum of SOH by ROH
        %th Sum of SOH open order ROH
        /You'll do the last one? yes yes

    %tbody
      - @core_tracker_templates.each do |core_tracker_template|
        %tr
          %td
            = core_tracker_template.group_name
          %td
            = core_tracker_template.brand_name
          %td
            = core_tracker_template.sum_cy_saleqty
          %td
            = core_tracker_template.sum_soh
          %td
            = core_tracker_template.sum_last_180days_saleqty

          %td
            - sum_of_soh_by_roh = 0
            - last_sales = core_tracker_template.single_last_180days_saleqty.split(',')
            - soh_array = core_tracker_template.single_soh.split(',')
            - last_sales.each_with_index do |last_180days_saleqty, index|
              - if last_180days_saleqty != "0"
                - sum_of_soh_by_roh = sum_of_soh_by_roh + (soh_array[index].to_f / last_180days_saleqty.to_f * 180.00)
            = sum_of_soh_by_roh
          %td
            - sum_of_soh_oo_roh = 0
            - last_sales = core_tracker_template.single_last_180days_saleqty.split(',')
            - soh_array = core_tracker_template.single_soh.split(',')
            - open_po_array = core_tracker_template.single_open_po.split(',')
            - last_sales.each_with_index do |last_180days_saleqty, index|
              - if last_180days_saleqty != "0"
                - sum_of_soh_oo_roh = sum_of_soh_oo_roh + ((soh_array[index].to_f + open_po_array[index].to_f) / last_180days_saleqty.to_f * 180.00)
            = sum_of_soh_oo_roh